 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fond {
    background-color: #ccffcc;
}

header {
    background-color: #004d00;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 20px;
    color: #f5f5f5;
    font-size: 40px;
    font-family:pacifico;
    
}


nav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    background-color: #3a693a;
}

nav ul li {
    margin: 150px; /*espace entre les buttons*/
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding:  16px;
    text-decoration: none;
    
}

nav ul li a:hover {
    background-color: #49c459;
}

.buttons { /*ext*/
    text-align: center;
    margin: 30px ;
}

.buttons button { /*intr*/
    background-color: #195b43;
    border: none;
    padding: 20px ;
    margin: 5px;
    border-radius: 5px;
}

.buttons a {
    color: #ffffff;
    text-decoration: none;
}

.buttons button:hover {
    background-color: #559999;
}

 .contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

 article {
    background-color: #014d19;
    padding: 20px;
    margin: 20px ;
    border-radius: 50px;
    width: 80%;
    max-width: 800px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

article h2 {
    text-align: center;
    color: #ccffcc;
    margin-top: 0;
    font-family:dancing script;
}

article p {
    color: #ffffff;
}
+
article ul {
    color: #f5f5f5;
}

article img {
    position: relative;
    max-width: 40%;
    border-radius: 50px;
    margin: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

   }
   .description-container {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    
    padding: 2px;
    margin: 10px;
}
.description-container p {
    color: #dafbf1;
    font-size: 14px;
    font-family:pacifico;
    text-align: center;
    margin: 20p;

}

.adv img {
position: relative;  
  align-items: center;
  bottom: 50px;
  width: 60%;
  margin: 50px;
  margin-bottom: 5px;
 }