/* Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Fond de la page */
.fond {
    background-image: url("photo.WEBP"); /* Remplacez "photo.WEBP" par le chemin de votre image de fond */
}

article img {
    display:flex;
    flex-direction: row;
    max-width: 40%; 
    border-radius: 10px;
    margin-bottom: 10px; 
}
article img {
    display:flex;
    flex-direction: row;
    max-width: 40%; 
    border-radius: 10px;
    margin-bottom: 10px; 
}

article .description {
    font-size: smaller;
    color: #777;
    margin-top: 5px;
}
/* Header */
header {
    background-color: #004d00;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 20px;
    color: #f5f5f5;
    font-size: 40px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #2c502c;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #81c58b;
}

/* Boutons */
.buttons {
    text-align: center;
    margin: 30px 0;
}

.buttons button {
    background-color: #187754;
    border: none;
    padding: 20px 20px;
    margin: 5px;
    border-radius: 5px;
}

.buttons a {
    color: #ffffff;
    text-decoration: none;
}

.buttons button:hover {
    background-color: #559999;
}

/* Contenu principal */
.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Articles */
article {
    background-color: #004d00;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article h2 {
    color: #ccffcc;
    margin-top: 0;
}

article p {
    color: #f5f5f5;
}

article ul {
    color: #f5f5f5;
}

