body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fond {
    background-color: #dbffdb;
}

header {
    background-color: #6fbd6f;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin-top: 20px;
    color: #1e4e32;
    font-size: 40px;
    font-family: Pacifico, cursive;
}

nav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    background-color: #156b4a;
}

nav ul li {
    margin: 150px; /*espace entre les buttons*/
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #8be297;
}

.logo-container {
    position: absolute;
    left: 20px;
    top: 77px;
}

.logo {
    max-width: 120px;
    margin-right: 5px;
}

.buttons {
    text-align: center;
    margin: 30px;
}

.buttons button {
    background-color: #195b43;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.buttons a {
    color: #ffffff;
    text-decoration: none;
}

.buttons button:hover {
    background-color: #559999;
}

.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

article {
    background-color: #014d19;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    width: 80%;
    max-width: 900px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

article h2 {
    text-align: center;
    color: #ccffcc;
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
}

article p {
    color: #ffffff;
}

article img {
    position: relative;
    max-width: 40%;
    border-radius: 50px;
    margin: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.description-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
    margin: 10px;
}

.description-container p {
    color: #dafbf1;
    font-size: 14px;
    font-family: Pacifico, cursive;
    text-align: center;
}

.adv img {
    position: relative;
    margin-left: 250px;
    width: 400px;
    max-height: 500px;
}

footer {
    background-color: #004d00;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}